@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#root {
  margin: 0 auto;
}

html,body,div,p,h1,h2,h3,h4,h5,h6,ul,li,a {
    font-family: 'Poppins', sans-serif;
}


.section-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2c3e50;
  position: relative;
}